In [1]:
def result(data):
    data = data.split('><')
    data_out = [ ]
    df = ['성          명' , '생  년  월  일', '현    주    소', '연    락    처','이    메    일']
    for i in range(len(data)):
        for j in range(len(df)):
            if data[i] == '이    메    일':
                a = data[i+1].find('>')
                data_out.append(data[i+1][:a])
                break
            if data[i] == df[j]:
                data_out.append(data[i+1])
    df1 = ['학교명','전공','성적','졸업구분','소재지']
    for i in range(len(data)):
        for j in range(len(df1)):
            if data[i] == '소재지':
                b = data[i+5].find('>')
                data_out.append(data[i+5][:b])
                break
            if data[i] ==df1[j]:
                data_out.append(data[i+5]) 
    i = data.index('점수')
    while True:
        i += 1
        if data[i] != '기간':
            data_out.append(data[i])
        else: 
            break
    df3 = ['군필','군별','계급','복무기간']
    for i in range(len(data)):
        for j in range(len(df3)):
            if data[i] == '복무기간':
                a = data[i+1].find('>')
                data_out.append(data[i+1][:a])
                break
            if data[i] == df3[j]:
                data_out.append(data[i+1])
    df4 = [ 'R','Python','Javascript','SQL','HTML/CSS']
    for i in range(len(data)):
        for j in range(len(df4)):
            if data[i] == 'HTML/CSS':
                a = data[i+5].find('>')
                data_out.append(data[i+4][:a])
                break
            if data[i] == df4[j]:
                data_out.append(data[i+5])
    return data_out

In [2]:
# pip install ole-py
import ole 

with ole.open('./data/이력서_18.hwp') as f:
    data = f.get_stream('PrvText').read().decode('utf-16le')
    
d = result(data)
d

['이서역',
 '1995년 8월 8일',
 '제주특별자치도 제주시',
 '010-0808-9588',
 'weststation@daum.net',
 '제주대학교',
 '컴퓨터교육과',
 '4.2/4.5',
 '졸업',
 '제주',
 '정보처리기사',
 '국가기술자격검정',
 '18.05.15',
 '690점',
 '컴퓨터활용능력 1급',
 '대한상공회의소',
 '19.03.13>\r\n\r\n<교육 / 활동 / 수상',
 '17.09 ~ 17.12',
 '육군',
 '병장',
 '15.05~17.02',
 '중',
 '중',
 '하',
 '하',
 '하']

In [3]:
tot = []

### 학점

In [4]:
s = d[7]
s = s.replace('/4.5','')
s = float(s)

if s >=4.3 : 
    tot.append(10)
    
elif 4.3>s>=4.1 :
    tot.append(8)
        
elif 4.1>s>=3.9 :
    tot.append(6)
    
else :
     tot.append(4)
        
tot

[8]

### 서울 vs 지방

In [5]:
서울권 = []
지방권 = []

In [6]:
if d[9] == '서울' :
    서울권.append(d[9])
    
else : 
    지방권.append(d[9])
print(서울권)
print(지방권)

[]
['제주']

### 자격증

In [7]:
any_list = []
certi_list=[]
score = 0

for i in range(10, 16) :
    any_list.append(d[i])
certi_list.append(any_list[0])
certi_list.append(any_list[4])
    

for i in range(2) :
    if certi_list[i] == '' :
        score += 0
    else :
        if certi_list[i].find('기사') == 4 :
             score += 5
        else : 
            score += 1
tot.append(score)

tot

[8, 6]

### 토익능력

In [8]:
toeic_score = int(d[13].replace('점', ''))

if toeic_score >900 :
    tot.append(10)
elif 900 >= toeic_score >800 : 
    tot.append(8)
elif 800 >= toeic_score >700 : 
    tot.append(6)
else : 
    tot.append(4)
    
tot

[8, 6, 4]

### 컴퓨터 능력 -상 중 하

In [9]:
score = 0
for i in list(d[-5:]) :
    print(i)
    if i == '상' :
        score +=10
    elif i == '중' :
        score += 7
    else : 
        score += 4
    
print(score)
tot.append(score)
tot

중
중
하
하
하
26

[8, 6, 4, 26]

In [10]:
import pandas as pd

df = pd.DataFrame(tot).T
df = df.rename(index = {0 : '사람'}, columns = {0 : '학점', 1 : '자격증', 2: '토익', 3: '컴퓨터능력'})
df

    학점  자격증  토익  컴퓨터능력
사람   8    6   4     26

In [16]:
wantedData = d[0:7]
wantedDataField = ['성명','생년월일','주소','연락처','이메일','대학교','전공','학점','자격증','토익','컴퓨터능력','합계']
wantedData

['이서역',
 '1995년 8월 8일',
 '제주특별자치도 제주시',
 '010-0808-9588',
 'weststation@daum.net',
 '제주대학교',
 '컴퓨터교육과']

In [13]:
# 합계
total = sum(tot)
total

44

In [14]:
tot.append(total)
tot

[8, 6, 4, 26, 44]

In [18]:
wantedData.extend(tot)
wantedData

['이서역',
 '1995년 8월 8일',
 '제주특별자치도 제주시',
 '010-0808-9588',
 'weststation@daum.net',
 '제주대학교',
 '컴퓨터교육과',
 8,
 6,
 4,
 26,
 44]

In [19]:
# 엑셀에 저장
import xlsxwriter

workbook = xlsxwriter.Workbook('test_1.xlsx')
worksheet = workbook.add_worksheet()

row = 0
col = 0
for i in wantedDataField :
    worksheet.write(row, col, i)
    col += 1
    
col = 0    
for i in range(len(wantedData)):
    worksheet.write(row+1, col+i, wantedData[i])
    
workbook.close()

In [22]:
# 100번 순회
workbook = xlsxwriter.Workbook('test_2.xlsx')
worksheet = workbook.add_worksheet()

row = 0
col = 0
for i in wantedDataField :
    worksheet.write(row, col, i)
    col += 1
    
col = 0
for k in range(100):
    for i in range(len(wantedData)):
        worksheet.write(row+k+1, col+i, wantedData[i])
    
workbook.close()